.checkout-desc{
     margin-top: 20px
}
#checkout-container{

   
    width: 300px;
    height: 250px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding-top: 1px;
}
#check-btn{
    width:245px;
    margin-top:30px;
    background-color: green;
    color:white;
    height: 30px;
    border-radius: 5px;

}